<h1>This is my Person Show page</h1>
<h2> <%= @person.name %> </h2>
<hr/>
<br/>
<h3> These are <%= @person.name %>'s playdates in the future: </h3>
  <% @person.playdates.each do | pd | %>
   <li> <%= pd.date %> : <%= pd.length_of_time %> minutes with <%= link_to pd.kitten.name, kitten_path(pd.kitten) %> </li>
    <br/>
  <% end %>